/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li p {
  margin: 0;
  color: #555555;
}

button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: #0056b3;
}

.text-blue-500 {
  color: #007bff;
}

.text-blue-500:hover {
  color: #0056b3;
}

.text-red-500 {
  color: red;
}

/* Detail Page Specific Styles */
.service-details {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-details h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.service-details p {
  margin: 10px 0;
  color: #555555;
}

.service-details strong {
  display: inline-block;
  width: 150px;
  color: #333333;
}

.mt-4 {
  margin-top: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h1, h2 {
    font-size: 20px;
  }

  ul {
    padding-left: 0;
  }

  .list-disc {
    padding-left: 20px;
  }

  li {
    font-size: 16px;
  }

  button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .service-details {
    padding: 15px;
  }

  .service-details strong {
    display: block;
    margin-bottom: 5px;
  }

  .mt-4 {
    margin-top: 12px;
  }
}

/* Container Layout */
.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 8vh;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Language Selector */
.language-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #333333;
}

.select-dropdown {
  padding: 8px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: black;
}

/* Table Styles */
.services-table, .details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.services-table th, .services-table td, 
.details-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.services-table tr:nth-child(even),
.details-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.services-table td {
  vertical-align: middle;
}

/* Buttons */
.view-details-button {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-details-button:hover {
  background-color: #0056b3;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .container{
    margin-top: 11vh;
  }
  .services-table th, .services-table td,
  .details-table td {
    font-size: 14px;
    padding: 10px;
  }

  .select-dropdown {
    width: 100%;
  }

  .view-details-button, .back-button {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}

/* Navigation Bar */
.nav {
  font-family: 'Playfair Display', serif;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  color: #fff;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Section Titles */
.title {
  font-weight: bold;
  transition: transform 1.5s ease, left 1.5s ease;
  position: relative;
  text-align: center;
  font-size: 28px;
  color: #ef4444;
  margin-left: auto;
  margin-right: auto;
}

.services-table th {
  background-color: #ef4444;
  color: white;
}

/* Section Styles */
.title1, .services-table1 th { color: #3b82f6; background-color: #3b82f6; }
.title2, .services-table2 th { color: #ec4899; background-color: #ec4899; }
.title3, .services-table3 th { color: #f59e0b; background-color: #f59e0b; }
.title4, .services-table4 th { color: #a855f7; background-color: #a855f7; }
.title5, .services-table5 th { color: #14b8a6; background-color: #14b8a6; }
.title6, .services-table6 th { color: #f97316; background-color: #f97316; }

/* Parallax Effect */
.title.parallax-left {
  transform: translateX(-50%);
  right: 30vw;
  text-align: left;
  position: relative;
  z-index: 1000;
} 

/* Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
